.container {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-charcoal-light);
    margin-bottom: 0.5rem;
    transition: color 0.3s;
}

.container:focus-within .label {
    color: var(--color-terracotta);
}

.inputWrapper {
    position: relative;
}

.input {
    width: 100%;
    background-color: var(--color-linen);
    border: 1px solid #E5E7EB;
    /* gray-200 */
    color: var(--color-charcoal);
    border-radius: var(--radius-xl);
    padding: 0.75rem 1rem;
    padding-right: 2.5rem;
    font-family: var(--font-sans);
    font-size: 1.125rem;
    transition: all 0.3s;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(178, 91, 82, 0.2);
    border-color: var(--color-terracotta);
}

.unit {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(64, 64, 64, 0.5);
    /* charcoal-light/50 */
    font-size: 0.875rem;
    font-weight: 500;
    pointer-events: none;
}